table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 90%;
}
table th, table td {
    border-width: 0;
}
table tr th, table tr td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 0.25rem 0.5rem;
}
table tr th:last-child, table tr td:last-child {
    border-right: none;
}
table tr:last-child th, table tr:last-child td {
    border-bottom: none;
}
